// --- Intro --- //
// This is the defualt light theme for a website made using sandal
// There are more themes in the same file
// Only one of these themes should be used per website because of conflicting variable names
// !!! This file is the same as the defualt, this may be changed later !!!

// --- Directions --- //
// Simply change the inital variable and it will update every version of the variable

// --- Orders --- //
// These colors are meant to be changed in order to fit the website
// The color section below show some of the posible colors you could make these
// but are by no way a comprehensive list

// Primary / Same as Blue in Colors
$primary-darker : hsl(200, 70%, 20%); $pri-drkr: $primary-darker ; 
$primary-dark   : hsl(200, 70%, 29%); $pri-drk : $primary-dark   ; 
$primary        : hsl(200, 70%, 37%); $pri     : $primary        ; 
$primary-light  : hsl(200, 70%, 43%); $pri-lgt : $primary-light  ; 
$primary-lighter: hsl(200, 70%, 55%); $pri-lgtr: $primary-lighter; 

// Primary Map
$primary-map: (
    primary-darker : $pri-drkr,
    primary-dark   : $pri-drk ,
    primary        : $pri     ,
    primary-light  : $pri-lgt ,
    primary-lighter: $pri-lgtr,
);

// Secondary
$secondary-darker : hsl(200, 15%, 20%); $sec-drkr: $secondary-darker ;
$secondary-dark   : hsl(200, 15%, 29%); $sec-drk : $secondary-dark   ;
$secondary        : hsl(200, 15%, 37%); $sec     : $secondary        ;
$secondary-light  : hsl(200, 15%, 43%); $sec-lgt : $secondary-light  ;
$secondary-lighter: hsl(200, 15%, 55%); $sec-lgtr: $secondary-lighter;

// Secondary Map
$secondary-map: (
    secondary-darker : $sec-drkr,
    secondary-dark   : $sec-drk ,
    secondary        : $sec     ,
    secondary-light  : $sec-lgt ,
    secondary-lighter: $sec-lgtr,
);

// --- Page --- //
// These are the colors to be used based on their page names
// For exmaple background or text

// Background
$background-dark : hsl(50, 40%, 90%); $bg-drk: $background-dark ;
$background      : hsl(50, 40%, 95%); $bg    : $background      ;
$background-light: hsl(50, 40%,100%); $bg-lgt: $background-light;

// Background Map
$background-map: (
    background-dark : $bg-drk,
    background      : $bg    ,
    background-light: $bg-lgt,
);

// Text
$text-dark : hsl(225, 10%,  1%); $txt-drk: $text-dark ;
$text      : hsl(225, 10%,  6%); $txt    : $text      ;
$text-light: hsl(60, 35%,  95%); $txt-lgt: $text-light;

// Text Map
$text-map: (
    text-dark : $txt-drk,
    text      : $txt    ,
    text-light: $txt-lgt,
);

// --- Classes --- //
// These are not the css classes but rather a sort of class of types
// like a error class or a success class, ya know?

// Error / Same as Red in Colors
$error-darker : hsl(355, 70%, 29%); $err-drkr: $error-darker ;
$error-dark   : hsl(355, 70%, 37%); $err-drk : $error-dark   ;
$error        : hsl(355, 70%, 43%); $err     : $error        ;
$error-light  : hsl(355, 70%, 55%); $err-lgt : $error-light  ;
$error-lighter: hsl(355, 70%, 60%); $err-lgtr: $error-lighter;

// Error Map
$error-map: (
    error-darker : $err-drkr,
    error-dark   : $err-drk ,
    error        : $err     ,
    error-light  : $err-lgt ,
    error-lighter: $err-lgtr,
);

// Warning / Same as Yellow in Colors
$warning-darker : hsl(45, 70%, 21%); $wrn-drkr: $warning-darker ;
$warning-dark   : hsl(45, 70%, 37%); $wrn-drk : $warning-dark   ;
$warning        : hsl(45, 70%, 52%); $wrn     : $warning        ;
$warning-light  : hsl(45, 70%, 63%); $wrn-lgt : $warning-light  ;
$warning-lighter: hsl(45, 70%, 74%); $wrn-lgtr: $warning-lighter;

// Warning Map
$warning-map: (
    warning-darker : $wrn-drkr,
    warning-dark   : $wrn-drk ,
    warning        : $wrn     ,
    warning-light  : $wrn-lgt ,
    warning-lighter: $wrn-lgtr,
);

// Sucess / Same as Green in Colors
$success-darker : hsl(155, 70%, 20%); $scs-drkr: $success-darker ;
$success-dark   : hsl(155, 70%, 29%); $scs-drk : $success-dark   ;
$success        : hsl(155, 70%, 37%); $scs     : $success        ;
$success-light  : hsl(155, 70%, 43%); $scs-lgt : $success-light  ;
$success-lighter: hsl(155, 70%, 55%); $scs-lgtr: $success-lighter;

// Sucess Map
$success-map: (
    success-darker : $scs-drkr,
    success-dark   : $scs-drk ,
    success        : $scs     ,
    success-light  : $scs-lgt ,
    success-lighter: $scs-lgtr,
);

// Info
$info-darker : hsl(190, 70%, 20%); $inf-drkr: $info-darker ;
$info-dark   : hsl(190, 70%, 29%); $inf-drk : $info-dark   ;
$info        : hsl(190, 70%, 37%); $inf     : $info        ;
$info-light  : hsl(190, 70%, 43%); $inf-lgt : $info-light  ;
$info-lighter: hsl(190, 70%, 55%); $inf-lgtr: $info-lighter;

// Info Map
$info-map: (
    info-darker : $inf-drkr,
    info-dark   : $inf-drk ,
    info        : $inf     ,
    info-light  : $inf-lgt ,
    info-lighter: $inf-lgtr,
);

// Disabled
$disabled-darker : hsl(200, 10%, 20%); $dis-drkr: $disabled-darker ;
$disabled-dark   : hsl(200, 10%, 29%); $dis-drk : $disabled-dark   ;
$disabled        : hsl(200, 10%, 37%); $dis     : $disabled        ;
$disabled-light  : hsl(200, 10%, 43%); $dis-lgt : $disabled-light  ;
$disabled-lighter: hsl(200, 10%, 55%); $dis-lgtr: $disabled-lighter;

// Info Map
$disabled-map: (
    disabled-darker : $dis-drkr,
    disabled-dark   : $dis-drk ,
    disabled        : $dis     ,
    disabled-light  : $dis-lgt ,
    disabled-lighter: $dis-lgtr,
);

$clear: hsla(0, 0, 0, 0);