@use "sass:color" as *;
@use "../config" as *;
@use "../utils/map" as *;

// --- Intro --- //
// This is the quick themes for any website made using sandal
// There are more themes in the same file
// Only one of these themes should be used per website because of conflicting variable names
// This theme is a little diffrent from the rest, it can only be modifed in the config file and is used for quick theming

// --- Directions --- //
// Simply change the inital variable in the config file and it will update every version of the variable

// --- Orders --- //
// These colors are meant to be changed in order to fit the website
// The color section below show some of the posible colors you could make these
// but are by no way a comprehensive list

// --- Setup --- //
$init-primary:    Map-Deep-Search($settings, "primary");
$init-secondary:  Map-Deep-Search($settings, "secondary");
$init-background: Map-Deep-Search($settings, "background");
$init-text:       Map-Deep-Search($settings, "text");
$init-error:      Map-Deep-Search($settings, "error");
$init-warning:    Map-Deep-Search($settings, "warning");
$init-success:    Map-Deep-Search($settings, "success");
$init-info:       Map-Deep-Search($settings, "info");
$init-disabled:   Map-Deep-Search($settings, "disabled");

// Primary
$primary-darker : adjust($init-primary, $lightness: -17%); $pri-drkr: $primary-darker ;
$primary-dark   : adjust($init-primary, $lightness: -8%) ; $pri-drk : $primary-dark   ;
$primary        : $init-primary                          ; $pri     : $primary        ;
$primary-light  : adjust($init-primary, $lightness: 6%)  ; $pri-lgt : $primary-light  ;
$primary-lighter: adjust($init-primary, $lightness: 18%) ; $pri-lgtr: $primary-lighter;

// Primary Map
$primary-map: (
    primary-darker : $pri-drkr,
    primary-dark   : $pri-drk ,
    primary        : $pri     ,
    primary-light  : $pri-lgt ,
    primary-lighter: $pri-lgtr,
);

// Secondary
$secondary-darker : adjust($init-secondary, $lightness: -17%); $sec-drkr: $secondary-darker ;
$secondary-dark   : adjust($init-secondary, $lightness: -8%) ; $sec-drk : $secondary-dark   ;
$secondary        : $init-secondary                          ; $sec     : $secondary        ;
$secondary-light  : adjust($init-secondary, $lightness:  6%) ; $sec-lgt : $secondary-light  ;
$secondary-lighter: adjust($init-secondary, $lightness: 18%) ; $sec-lgtr: $secondary-lighter;

// Secondary Map
$secondary-map: (
    secondary-darker : $sec-drkr,
    secondary-dark   : $sec-drk ,
    secondary        : $sec     ,
    secondary-light  : $sec-lgt ,
    secondary-lighter: $sec-lgtr,
);

// --- Page --- //
// These are the colors to be used based on their page names
// For exmaple background or text

// Background
$background-dark : adjust($init-background, $lightness: -5%); $bg-drk: $background-dark ;
$background      : $init-background                         ; $bg    : $background      ;
$background-light: adjust($init-background, $lightness: 5%) ; $bg-lgt: $background-light;

// Background Map
$background-map: (
    background-dark : $bg-drk,
    background      : $bg    ,
    background-light: $bg-lgt,
);

// Text
$text-dark : adjust($init-text, $lightness: -5%); $txt-drk: $text-dark ;
$text      : $init-text                         ; $txt    : $text      ;
$text-light: adjust($init-text, $lightness: 5%) ; $txt-lgt: $text-light;

// Text Map
$text-map: (
    text-dark : $txt-drk,
    text      : $txt    ,
    text-light: $txt-lgt,
);

// --- Classes --- //
// These are not the css classes but rather a sort of class of types
// like a error class or a success class, ya know?

// Error
$error-darker : adjust($init-error, $lightness: -17%); $err-drkr: $error-darker ;
$error-dark   : adjust($init-error, $lightness: -8%) ; $err-drk : $error-dark   ;
$error        : $init-error                          ; $err     : $error        ;
$error-light  : adjust($init-error, $lightness:  6%) ; $err-lgt : $error-light  ;
$error-lighter: adjust($init-error, $lightness: 18%) ; $err-lgtr: $error-lighter;

// Error Map
$error-map: (
    error-darker : $err-drkr,
    error-dark   : $err-drk ,
    error        : $err     ,
    error-light  : $err-lgt ,
    error-lighter: $err-lgtr,
);

// Warning
$warning-darker : adjust($init-warning, $lightness: -17%); $wrn-drkr: $warning-darker ;
$warning-dark   : adjust($init-warning, $lightness: -8%) ; $wrn-drk : $warning-dark   ;
$warning        : $init-warning                          ; $wrn     : $warning        ;
$warning-light  : adjust($init-warning, $lightness:  6%) ; $wrn-lgt : $warning-light  ;
$warning-lighter: adjust($init-warning, $lightness: 18%) ; $wrn-lgtr: $warning-lighter;

// Warning Map
$warning-map: (
    warning-darker : $wrn-drkr,
    warning-dark   : $wrn-drk ,
    warning        : $wrn     ,
    warning-light  : $wrn-lgt ,
    warning-lighter: $wrn-lgtr,
);

// Sucess
$success-darker : adjust($init-success, $lightness: -17%); $scs-drkr: $success-darker ;
$success-dark   : adjust($init-success, $lightness: -8%) ; $scs-drk : $success-dark   ;
$success        : $init-success                          ; $scs     : $success        ;
$success-light  : adjust($init-success, $lightness:  6%) ; $scs-lgt : $success-light  ;
$success-lighter: adjust($init-success, $lightness: 18%) ; $scs-lgtr: $success-lighter;

// Sucess Map
$success-map: (
    success-darker : $scs-drkr,
    success-dark   : $scs-drk ,
    success        : $scs     ,
    success-light  : $scs-lgt ,
    success-lighter: $scs-lgtr,
);

// Info
$info-darker : adjust($init-info, $lightness: -17%); $inf-drkr: $info-darker ;
$info-dark   : adjust($init-info, $lightness: -8%) ; $inf-drk : $info-dark   ;
$info        : $init-info                          ; $inf     : $info        ;
$info-light  : adjust($init-info, $lightness:  6%) ; $inf-lgt : $info-light  ;
$info-lighter: adjust($init-info, $lightness: 18%) ; $inf-lgtr: $info-lighter;

// Info Map
$info-map: (
    info-darker : $inf-drkr,
    info-dark   : $inf-drk ,
    info        : $inf     ,
    info-light  : $inf-lgt ,
    info-lighter: $inf-lgtr,
);

// Disabled
$disabled-darker : adjust($init-disabled, $lightness: -17%); $dis-drkr: $disabled-darker ;
$disabled-dark   : adjust($init-disabled, $lightness: -8%) ; $dis-drk : $disabled-dark   ;
$disabled        : $init-disabled                          ; $dis     : $disabled        ;
$disabled-light  : adjust($init-disabled, $lightness:  6%) ; $dis-lgt : $disabled-light  ;
$disabled-lighter: adjust($init-disabled, $lightness: 18%) ; $dis-lgtr: $disabled-lighter;

// Disabled Map
$disabled-map: (
    disabled-darker : $dis-drkr,
    disabled-dark   : $dis-drk ,
    disabled        : $dis     ,
    disabled-light  : $dis-lgt ,
    disabled-lighter: $dis-lgtr,
);

$clear: hsla(0, 0, 0, 0);