*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  max-width: 100vw;
  min-height: 100vh;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

summary {
  display: list-item;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

img {
  border-style: none;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
defs[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  overflow: visible;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  font-family: monospace, monospace;
  font-size: 1em;
}

input,
select {
  vertical-align: middle;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

select,
input,
textarea {
  font-size: 99%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
  display: block;
}

a {
  background-color: transparent;
}

small {
  font-size: 85%;
}

b,
strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body > div:nth-of-type(1) button:nth-of-type(1) {
  min-width: 15rem;
  min-height: 4rem;
  font-size: 2.5rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  color: #191b1f;
  background-color: #50636d;
  border: transparent solid 0.19rem;
}
body > div:nth-of-type(1) button:nth-of-type(1):hover {
  background-color: #5d737e;
  color: #191b1f;
}
body > div:nth-of-type(1) button:nth-of-type(2) {
  min-width: 8rem;
  min-height: 3rem;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  color: #191b1f;
  background-color: #50636d;
  border: transparent solid 0.19rem;
}
body > div:nth-of-type(1) button:nth-of-type(2):hover {
  background-color: #5d737e;
  color: #191b1f;
}
body > div:nth-of-type(1) button:nth-of-type(3) {
  min-width: 5rem;
  min-height: 2rem;
  font-size: 0.75rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  color: #191b1f;
  background-color: #50636d;
  border: transparent solid 0.19rem;
}
body > div:nth-of-type(1) button:nth-of-type(3):hover {
  background-color: #5d737e;
  color: #191b1f;
}
body > div:nth-of-type(1) button:nth-of-type(4) {
  min-width: 0.6rem;
  min-height: 0.4rem;
  font-size: 0.1rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  color: #191b1f;
  background-color: #50636d;
  border: transparent solid 0.19rem;
}
body > div:nth-of-type(1) button:nth-of-type(4):hover {
  background-color: #5d737e;
  color: #191b1f;
}
body > div:nth-of-type(2) button:nth-of-type(1) {
  min-width: 5.4rem;
  min-height: 1.6rem;
  font-size: 0.9rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  color: #191b1f;
  background-color: #1c74a0;
  border: transparent solid 0.19rem;
}
body > div:nth-of-type(2) button:nth-of-type(1):hover {
  background-color: #2187ba;
  color: #191b1f;
}
body > div:nth-of-type(2) button:nth-of-type(2) {
  min-width: 7.8rem;
  min-height: 2.2rem;
  font-size: 1.3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  color: #191b1f;
  background-color: #ba212e;
  border: transparent solid 0.19rem;
}
body > div:nth-of-type(2) button:nth-of-type(2):hover {
  background-color: #d42534;
  color: #191b1f;
}
body > div:nth-of-type(2) button:nth-of-type(3) {
  min-width: 10.2rem;
  min-height: 2.8rem;
  font-size: 1.7rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  color: #191b1f;
  background-color: #daaf2f;
  border: transparent solid 0.19rem;
}
body > div:nth-of-type(2) button:nth-of-type(3):hover {
  background-color: #dfb949;
  color: #191b1f;
}
body > div:nth-of-type(2) button:nth-of-type(4) {
  min-width: 12.6rem;
  min-height: 3.4rem;
  font-size: 2.1rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  color: #191b1f;
  background-color: #1c8aa0;
  border: transparent solid 0.19rem;
}
body > div:nth-of-type(2) button:nth-of-type(4):hover {
  background-color: #21a1ba;
  color: #191b1f;
}
body > div:nth-of-type(2) button:nth-of-type(5) {
  min-width: 15rem;
  min-height: 4rem;
  font-size: 2.5rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  color: #191b1f;
  background-color: #1ca069;
  border: transparent solid 0.19rem;
}
body > div:nth-of-type(2) button:nth-of-type(5):hover {
  background-color: #21ba7a;
  color: #191b1f;
}
body > div:nth-of-type(3) button:nth-of-type(1) {
  min-width: 12.5rem;
  min-height: 4rem;
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  background-color: transparent;
  box-sizing: border-box;
  border: #1c74a0 solid 0.19rem;
  color: #1c74a0;
}
body > div:nth-of-type(3) button:nth-of-type(1):hover {
  background-color: #2187ba;
  color: #191b1f;
}
body > div:nth-of-type(3) button:nth-of-type(2) {
  min-width: 8rem;
  min-height: 3rem;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  background-color: transparent;
  box-sizing: border-box;
  border: #ba212e solid 0.19rem;
  color: #ba212e;
}
body > div:nth-of-type(3) button:nth-of-type(2):hover {
  background-color: #d42534;
  color: #191b1f;
}
body > div:nth-of-type(3) button:nth-of-type(3) {
  min-width: 5rem;
  min-height: 2rem;
  font-size: 0.75rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  background-color: transparent;
  box-sizing: border-box;
  border: #daaf2f solid 0.19rem;
  color: #daaf2f;
}
body > div:nth-of-type(3) button:nth-of-type(3):hover {
  background-color: #dfb949;
  color: #191b1f;
}
body > div:nth-of-type(3) button:nth-of-type(4) {
  min-width: 8rem;
  min-height: 3rem;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  background-color: transparent;
  box-sizing: border-box;
  border: #1c8aa0 solid 0.19rem;
  color: #1c8aa0;
}
body > div:nth-of-type(3) button:nth-of-type(4):hover {
  background-color: #21a1ba;
  color: #191b1f;
}
body > div:nth-of-type(3) button:nth-of-type(5) {
  min-width: 12.5rem;
  min-height: 4rem;
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  background-color: transparent;
  box-sizing: border-box;
  border: #1ca069 solid 0.19rem;
  color: #1ca069;
}
body > div:nth-of-type(3) button:nth-of-type(5):hover {
  background-color: #21ba7a;
  color: #191b1f;
}
body > div:nth-of-type(4) div:nth-of-type(1) {
  display: flex;
}
body > div:nth-of-type(4) div:nth-of-type(1) div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body > div:nth-of-type(4) div:nth-of-type(1) div:nth-of-type(1) > * {
  min-width: 4.8rem;
  min-height: 1.45rem;
  font-size: 0.8rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  color: #191b1f;
  background-color: rgba(0, 0, 0, 0);
  border: transparent solid 0.19rem;
  border-radius: 0;
  border-width: 0.095rem 0.19rem;
}
body > div:nth-of-type(4) div:nth-of-type(1) div:nth-of-type(1) > *:hover {
  color: #191b1f;
}
body > div:nth-of-type(4) div:nth-of-type(1) div:nth-of-type(1) > *:nth-of-type(1) {
  border-top-left-radius: 0.5rem;
  border-top-width: 0.19rem;
  border-top-right-radius: 0.5rem;
}
body > div:nth-of-type(4) div:nth-of-type(1) div:nth-of-type(1) > *:nth-last-of-type(1) {
  border-bottom-right-radius: 0.5rem;
  border-bottom-width: 0.19rem;
  border-bottom-left-radius: 0.5rem;
}
body > div:nth-of-type(4) div:nth-of-type(1) div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body > div:nth-of-type(4) div:nth-of-type(1) div:nth-of-type(2) > * {
  min-width: 4.8rem;
  min-height: 1.45rem;
  font-size: 0.8rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  background-color: transparent;
  box-sizing: border-box;
  border: #1c74a0 solid 0.19rem;
  color: #1c74a0;
  border-radius: 0;
  border-width: 0.095rem 0.19rem;
}
body > div:nth-of-type(4) div:nth-of-type(1) div:nth-of-type(2) > *:hover {
  background-color: #2187ba;
  color: #191b1f;
}
body > div:nth-of-type(4) div:nth-of-type(1) div:nth-of-type(2) > *:nth-of-type(1) {
  border-top-left-radius: 0.5rem;
  border-top-width: 0.19rem;
  border-top-right-radius: 0.5rem;
}
body > div:nth-of-type(4) div:nth-of-type(1) div:nth-of-type(2) > *:nth-last-of-type(1) {
  border-bottom-right-radius: 0.5rem;
  border-bottom-width: 0.19rem;
  border-bottom-left-radius: 0.5rem;
}
body > div:nth-of-type(4) div:nth-of-type(2) div:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body > div:nth-of-type(4) div:nth-of-type(2) div:nth-of-type(1) > * {
  min-width: 9rem;
  min-height: 2.5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  color: #191b1f;
  background-color: #ba212e;
  border: transparent solid 0.19rem;
  border-radius: 0;
  border-width: 0.19rem 0.095rem;
}
body > div:nth-of-type(4) div:nth-of-type(2) div:nth-of-type(1) > *:hover {
  background-color: #d42534;
  color: #191b1f;
}
body > div:nth-of-type(4) div:nth-of-type(2) div:nth-of-type(1) > *:nth-of-type(1) {
  border-top-left-radius: 0.5rem;
  border-left-width: 0.19rem;
  border-bottom-left-radius: 0.5rem;
}
body > div:nth-of-type(4) div:nth-of-type(2) div:nth-of-type(1) > *:nth-last-of-type(1) {
  border-bottom-right-radius: 0.5rem;
  border-right-width: 0.19rem;
  border-top-right-radius: 0.5rem;
}
body > div:nth-of-type(4) div:nth-of-type(2) div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body > div:nth-of-type(4) div:nth-of-type(2) div:nth-of-type(2) > * {
  min-width: 9rem;
  min-height: 2.5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 0.5rem;
  background-color: transparent;
  box-sizing: border-box;
  border: #ba212e solid 0.19rem;
  color: #ba212e;
  border-radius: 0;
  border-width: 0.19rem 0.095rem;
}
body > div:nth-of-type(4) div:nth-of-type(2) div:nth-of-type(2) > *:hover {
  background-color: #d42534;
  color: #191b1f;
}
body > div:nth-of-type(4) div:nth-of-type(2) div:nth-of-type(2) > *:nth-of-type(1) {
  border-top-left-radius: 0.5rem;
  border-left-width: 0.19rem;
  border-bottom-left-radius: 0.5rem;
}
body > div:nth-of-type(4) div:nth-of-type(2) div:nth-of-type(2) > *:nth-last-of-type(1) {
  border-bottom-right-radius: 0.5rem;
  border-right-width: 0.19rem;
  border-top-right-radius: 0.5rem;
}/*# sourceMappingURL=style.css.map */