@use "sass:meta";
@use "../config" as *;
@use "./type" as *;

@use "../themes/light";
@use "../themes/dark";
@use "../themes/default";

// Z-Indexing / Layers
// Gives names to the z-index layers
// The closer to heigher on the list the heigher the z-index
$layers: (
    "top",
    "below",
    "destroyed"
);
@function Layer($name) {
    @if index($layers, $name) {
        @return (length($layers) - index($layers, $name)) + 1;
    } @else {
        @error 'There is no item "#{$name}" in this list; choose one of: #{$layers}';
        @return null;
    }
}

// Merges multiple maps
@function Map-Merge-Multiple($maps...) {
    $result: ();
    @each $map in $maps {
        $result: map-merge($result, $map);
    };
    @return $result;
}

// Map Deep Search
// !!! Finish !!! //

// @function Map-Deep-Search($map, $find) {
//     $nested: ();

//     @if not Is-Map($map) {@return null; }
//     @each $key, $val in $map {
//         @if $key == $find {
//             @return $val;
//         } @else if Is-Map($val) {
//             $nested: append($nested, Map-Deep-Search($val, $find));
//         }
//     }

//     @if index($nested, $find)
// }

// Gets a theme
$_theme: module-variables(map-get($settings, "base-theme"));
@function Theme($key) {
    @return map-get($_theme, $key);
}