/// The settings for the project. Everything you could want to control is here.
/// @name settings
/// @prop {bool} strict [true] - Determines if type checking is on
/// @prop {map} styles - Sets site-wide styles
$settings: (
    strict: true,
    
    /// @name styles
    /// @prop {string} base-theme - The base theme for the site. If on "quick" the following quick-theme styles are nessisary
    /// @prop {length} border-radius - A default border radius for the site
    /// @prop {map} quick-theme - The styles if the base theme is quick
    styles: (
        base-theme: "quick",
        border-radius: .5rem,
        

        /// @name quick-theme
        /// @prop {color} primary - The primary color for the quick theme
        /// @prop {color} secondary - The secondary color for the quick theme
        /// @prop {color} background - The background color for the quick theme
        /// @prop {color} text - The text color for the quick theme
        /// @prop {color} error - The error color for the quick theme
        /// @prop {color} warning - The warning color for the quick theme
        /// @prop {color} success - The success color for the quick theme
        /// @prop {color} info - The info color for the quick theme
        /// @prop {color} disabled - The disabled color for the quick theme
        quick-theme: (
            primary:    hsl(200, 60%, 37%),
            secondary:  hsl(200, 15%, 37%),
            background: hsl( 50, 40%, 95%),
            text:       hsl(225, 10%,  6%),
            error:      hsl(355, 60%, 43%),
            warning:    hsl( 45, 60%, 52%),
            success:    hsl(155, 60%, 37%),
            info:       hsl(190, 60%, 37%),
            disabled:   hsl(200,  5%, 43%),
        )
    ),
);