@use "../utils" as *;

// Common Variables
$_sizes-large: (
    width: 10rem,
    height: 4rem,
);
$_size-medium: (
    width: 10rem,
    height: 4rem,
);
$_size-small: (
    width: 10rem,
    height: 4rem,
);
$_border-radius: $bradius;
$_letter-spacing: 0.05rem;
$_font-weight: bold;
$_transition-time: .25s;

/// A button for all your button needs
/// @param {string} $type [secondary] - The type of button as per the theme sheet
/// @param {string} $size [large] - The size of the button. Can be large, medium, or small
@mixin Button($type: "secondary", $size: "large", $outline: false) {
    $type-checked: Check-Types(($type, $size, $outline), ("string", ("string", "number"), "bool"));

    @if nth($type-checked, 2) == "number" {
        width: $size;
    } @else {
        @if $size == "large" {
            width: map-get($_size-large, $width);
            height: map-get($_size-large, $height);
        } @else if $size == "medium" {
            width: map-get($_size-medium, $width);
            height: map-get($_size-medium, $height);
        } @else if $size == "small" {
            width: map-get($_size-large, $width);
            height: map-get($_size-large, $height);
        }
    }

    background-color: Theme($type);
    color: Theme("text-light");
    letter-spacing: 0.05rem;
    font-weight: bold;
    border-radius: $bradius;
    transition: background-color .25s;

    &:hover {
        background-color: Theme("#{$type}-light");
    }
}

@mixin Primary-Button() {
    $type-checked: Check-Types(($type, $size, $outline), ("string", ("string", "number"), "bool"));

    @if nth($type-checked, 2) == "number" {
        width: $size;
    } @else {
        @if $size == "large" {
            width: map-get($_size-large, $width);
            height: map-get($_size-large, $height);
        } @else if $size == "medium" {
            width: map-get($_size-medium, $width);
            height: map-get($_size-medium, $height);
        } @else if $size == "small" {
            width: map-get($_size-large, $width);
            height: map-get($_size-large, $height);
        }
    }

    background-color: Theme($type);
    color: Theme("text-light");
    letter-spacing: 0.05rem;
    font-weight: bold;
    border-radius: $bradius;
    transition: background-color .25s;

    &:hover {
        background-color: Theme("#{$type}-light");
    }
}

/// A submit button
/// @param {string} $size [large] - The size of the button. Can be large, medium, or small
@mixin Submit($size: "large", $outline: false) {
    $type-checked: Check-Types(($size, $outline), (("string", "number"), "bool"));

    @if nth($type-checked, 2) == "number" {
        width: $size;
    } @else {
        @if $size == "large" {
            width: map-get($_size-large, $width);
            height: map-get($_size-large, $height);
        } @else if $size == "medium" {
            width: map-get($_size-medium, $width);
            height: map-get($_size-medium, $height);
        } @else if $size == "small" {
            width: map-get($_size-large, $width);
            height: map-get($_size-large, $height);
        }
    }

    background-color: Theme("success");
    color: Theme("text-light");
    letter-spacing: 0.05rem;
    font-weight: bold;
    border-radius: $bradius;
    transition: background-color .25s;

    &:hover {
        background-color: Theme("success-light");
    }
}

