@use "../config" as *;
@use "../utils" as *;   

/// A button for all your button needs
/// @param {string} $type [flex] - The type of container being used
@mixin Container($type: flex) {
    $type-checked: Check-Types(($type, "string"));

}

@mixin Layout() {
    
}

@mixin Row {
    display: grid;

}

@mixin Cell($row, $col) {
    grid-row: $row;
    grid-column: $col;
}

@include Layout(
    
);

@include Complex-Layout((
    (1, 1, 1),
    (3, 2, 5),
    (3, 2, 5),
    (4, 4, 4),
), ("nav", "main", "aside", "footer", "aside"));
